<html>
	<head>
		<title>Beers and breweries</title>

<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
    <body class="twoColLiqRtHdr">
    <div id="container">
         <div id="mainHeader"style="background:url('/images/header6.jpg');height:35px;">
            <div id="welcomeMsg" style="color: white; font-size:20px; background:url('/images/header.jpg');padding: 0 10px;font-size: 18px;"> </div>
			<a id="registerBtn" href="#" style="float:right;" class="classname">Register</a>
            <a id="loginBtn" href="#" class="classname login-visible">Login</a>
			<a id="logoutBtn" href="#" class="classname login-not-visible">Logout</a>

        </div>
        <div id="header">
            <h1>Beers and breweries</h1>
        <div>
      <ul id="Menu">
       <li><a href="home.html" title="Home" onmouseover="getDescription(menu_1)">Home</a></li>
       <li><a href="beers.html" title="Beers" onmouseover="getDescription(menu_2)">Beers</a></li>
	   <li><a href="breweries.html" title="Breweries" onmouseover="getDescription(menu_3)">Breweries</a></li>
       <li><a href="stores.html" title="Stores" onmouseover="getDescription(menu_4)">Stores</a></li>
	   </ul>
</div>

<br class="clearfloat">
<div id="description">  <script>getDescription(menu_1);</script></div>
</div>
<div id="tent">


				<div style="margin-left: 10px; width: 95%;">

						<div style="width:100%;margin-top:40px;float:left;">

							<form id="search" method="post" action="/beers.html">

							 <h3>Search beers by id:</h3>
								<input type="text" name="beer-search" />
								<input type="submit" value="Search" />

							</form>
						</div>
                    <b>Name:</b>

                        <div id="name" style="width:100%;margin-top:10px;margin-bottom:20px;float:left;">
						</div>
                      <br/>
                    <br/>
                    <b>Description:</b>

                        <div id="beer-description" style="width:100%;margin-top:10px;margin-bottom:20px;float:left;">

						</div>
                    <br/>
             <form id="createBeer" method="post" action="/create-beer" enctype="multipart/form-data" class="loggedIn">
                 <br/>
                 <h3>	Insert new beer: </h3>
								<table style="text-align: left" border="0" cellpadding="6" cellspacing="6">
									<tbody>
										<tr>
											<td>Name:</td>
											<td><input type="text" name="beer-name" /></td>
										</tr>
										<tr>
											<td>Description:</td>
											<td><input type="textarea" name="beer-description" /></td>
										</tr>
										<tr>
											<td>Image:</td>
											<td><input type="file" name="beer-img" /></td>
										</tr>
									</tbody>
								</table>

								<input type="submit" value="create" />
							</form>
                </div>


    <div id="login" style="display:none;position: absolute;right: 150;top: 35px;" >

			<form method="post" action="/" class="form-container">
				<div class="form-title"><h2>Sign in</h2></div>
				<div class="form-title">Username</div>
				<input class="form-field" type="text" name="username" /><br />
				<div class="form-title">Password</div>
				<input class="form-field" type="password" name="password" /><br />
				<div class="submit-container">
				<input class="submit-button" type="submit" value="Submit" />
				</div>
			</form>

		</div>

		<div id="register" style="display:none;position: absolute;right: 150;top: 35px;" >

			<form method="post" action="/register" class="form-container">
				<div class="form-title"><h2>Register</h2></div>
				<div class="form-title">First name</div>
				<input class="form-field" type="text" name="firstname" /><br />
				<div class="form-title">Last name</div>
				<input class="form-field" type="text" name="lastname" /><br />
				<div class="form-title">Username</div>
				<input class="form-field" type="text" name="username" /><br />
				<div class="form-title">Email</div>
				<input class="form-field" type="email" name="email" /><br />
				<div class="form-title">Password</div>
				<input class="form-field" type="password" name="password" /><br />
				<div class="submit-container">
				<input class="submit-button" type="submit" value="Submit" />
				</div>
			</form>

		</div>

		<form id="logout" method="post" action="/logout" style="visibility:hidden">
			<input type="submit">
		</form>

</div>


<div id="footer"><span id="footer"></span> </div>
</div>
<script type="text/javascript" src="js/jquery-1.10.2.min.js" > </script>
		<script type="text/javascript">

				$("#logoutBtn").click(function(){
					$("#logout").submit();
				});

				$("#loginBtn").click(function(){
					var visible = $("#login").css("display");

					if(visible == "none"){
						$("#login").css("display", "block");
						$("#register").css("display", "none");
					}
					else{
						$("#login").css("display", "none");
						$("#register").css("display", "none");
					}
				});

				$("#registerBtn").click(function(){
					var visible = $("#register").css("display");

					if(visible == "none"){
						$("#register").css("display", "block");
						$("#login").css("display", "none");
					}
					else{
						$("#register").css("display", "none");
						$("#login").css("display", "none");
					}
				});

		</script>
<script type="text/javascript" src="js/jquery-1.10.2.min.js" > </script>
        <script type="text/javascript">
function getDescription(type) {
if (document.getElementById) {
document.getElementById("description").style.color = "white";
var a = document.getElementById("description").style.color;
document.getElementById("description").innerHTML = type }
}
var menu_1 = 'First three beers.'
var menu_2 = 'Beers from all over the world.';
var menu_3 = 'Breweries from all over the world.';
var menu_4 = 'Beer stores from all over the world.';

		</script>
	</body>
<html>
